/* .login_all{
  width: 99vw;
  height: 99vh;
  background-color: aquamarine;
  background:
  background-size: 100% auto;
  margin:0 auto;
} */
/* body{
  padding: 0;
} */
@use_min_width:1080px;
.login_all {
  background: url(../../assets/3.jpg);
  background-size: 100% 100%;
  margin:0 auto;
  height: 100vh;
  min-width:@use_min_width;
}
.font_logo{
  width: 200px;
  height: 100px;
  margin-left:15vw;
  margin-top:5vh;
}
.login_box{
  width: 22vw;
  height: 55vh;
  background-color: #ffffff;
  box-shadow:5px 5px 5px #909090 ;
  position: relative;
  left: 74vw;
  top: 3vw;
  border-radius:15px;
  padding: 0;
}

.title{
 display: flex;
}
.title_des{
  width: 80%;
  // background-color: aqua;
  font-family: "Helvetica Neue";
  margin: 0 auto;
}
@media screen and  (min-width: 1500px) {
  // min 表示屏幕的宽度大于这个值适用
  .login_box{
  width: 370px;
  box-shadow:5px 5px 5px #909090;
  }
}
@media screen and  (max-width: 1500px) {
  // min 表示屏幕的宽度大于这个值适用
  .login_box{
  width: 340px;
  height: 500px;
  // background-color: blue;
  background-color: #ffffff;
  position: relative;
  left:65%;
  }
}
@media screen and (max-height: 900px) {
  .login_box{
    height: 55vh !important;
    }
}
