<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cloudDisk.mapper.FileLabelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.cloudDisk.pojo.FileLabel">
        <id column="file_lable_id" property="fileLableId" />
        <result column="file_id" property="fileId" />
        <result column="file_label_id" property="fileLabelId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        file_lable_id, file_id, file_label_id
    </sql>

</mapper>
