<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cloudDisk.mapper.LabelInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.cloudDisk.pojo.LabelInfo">
        <id column="interest_label_id" property="interestLabelId" />
        <result column="label_info_id" property="labelInfoId" />
        <result column="label_name" property="labelName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        label_info_id, interest_label_id, label_name
    </sql>

</mapper>
