<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cloudDisk.mapper.UserLabelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.cloudDisk.pojo.UserLabel">
        <id column="user_id" property="userId" />
        <result column="user_label_id" property="userLabelId" />
        <result column="interest_label_id" property="interestLabelId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_label_id, user_id, interest_label_id
    </sql>

</mapper>
