
@button_color:#607d8b;
.el-button--primary{
  background-color: @button_color;
  border-color:@button_color;
}

.change_all{
  width: 50vw;
  height: 100%;
  // background-color: blueviolet;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.labels{
  display: flex;
  width: 500px;
  // background-color: aqua;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

}
.label_left{
  color: gray;
  width: 100px;
  // background-color: antiquewhite;
  text-align: center;
}
.label_right{
  width: 300px;
}
.operation_button{
  width: 100px;
  margin-left: 30px;
  // background-color: red;
  text-align: center;
  margin-top: 10px;
}
//头像框样式
.avatar-uploader .el-upload {
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: white;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 1px dashed #fff;
  margin-top: -20px;
}
.avatar {
  width: 158px;
  height: 158px;
  display: block;
  border-radius: 90px;
  margin-top: 20px;
}
//2
